:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --white-background: #ffffff;
  --modal-background: #fcfcfc;
}
/*       Reset default styles */
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

/*       BODY        */
.page {
  color: var(--text);
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*  header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  /* padding: 24px 0; */
}

.page-header-container {
  display: flex;
  align-items: center;
  padding: 24px 0;
}

.page-nav {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  align-items: center;
}

.logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
  margin-right: 76px;
}

.logo-part {
  color: var(--dark);
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--pressed-state);
}
.site-nav .link.current {
  color: var(--pressed-state);
}

.address {
  font-style: normal;
  margin-left: auto;
}

.auth-nav {
  color: var(--text);
  display: flex;
  align-items: center;
}

.auth-nav:hover,
.auth-nav:focus {
  color: var(--pressed-state);
}

.auth-nav-first {
  margin-right: 40px;
}
/* hero */

.hero {
  background-color: var(--dark);
}

.hero-title {
  color: var(--white-background);
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

.hero-button {
  color: var(--white-background);
  background-color: var(--primary-brand);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-state);
}

/* section */

.section-title {
  color: var(--dark);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.section-text {
  color: var(--text);
}

.section-caption {
  color: var(--dark);
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team {
  background-color: var(--light);
}

.team-card {
  background-color: var(--white-background);
}

/* footer */

.footer {
  background-color: var(--dark);
}
.footer-text {
  color: var(--light);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer .logo-part {
  color: var(--light);
}

/* ----Portfolio-----  */

.sorting-button {
  color: var(--primary-brand);
  background-color: var(--light);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.sorting-button:hover,
.sorting-button:focus {
  color: var(--white-background);
  background-color: var(--pressed-state);
}
